on: push
jobs:
  terraform:
    runs-on: ubuntu-latest
    env: 
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"
      - name: terraform-init
        run: terraform init
      - name: terraform-validate
        run: terraform validate
      - name: terraform-plan
        run: terraform plan -out=tfplan
      - name: terraform-apply
        run: terraform apply -auto-approve tfplan

      